<form action="{% url 'polls:vote' question.id %}" method="post">
    <!-- csrf_token은 form태그에서 발생할 수 있는 보안문제를 해결하기 때문에 꼭 작성해야된다. -->
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <!-- forloop.counter는 반복한 횟수를 나타낸다.-->
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>